
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Community Vessells</title>
<script src="https://use.fontawesome.com/a5b3607a6e.js"></script>
<!-- Material Design fonts -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">





<!-- Custom Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Anton|Lobster|Paytone+One"
	rel="stylesheet">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" type="text/css"
	href="/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
<link rel="stylesheet" type="text/css"
	href="/node_modules/bootstrap-material-design/dist/css/ripples.min.css">
<!-- Custom Design -->
<link rel="stylesheet" type="text/css" href="/css/palette.css">
<link rel="stylesheet" type="text/css" href="/css/text.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">